<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <!-- Extra Fonts and Icon -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

        <a id ="bio" href="bio">Bio </a>
        <a id="home" href="home">Home</a>
        <a id="socmed" href="socmed">Socmed</a>
        <a id="studies" href="studies">Studies</a>
        <a id ="story1" href="story1">Story1</a>
        <a id ="schedule" href="{% url 'schedule:addschedule' %}">schedule</a>
        

        {% block content %}
        {% endblock %}
    </div>
  </div>
</body>
</html>