<!DOCTYPE html>
<html>
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <!-- Extra Fonts and Icon -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
  <div class="row">
    <div class="column left" id="kolom_gambar2">
    </div>
    <div class="column right" style="background-color:#1F1F1F;"></div>
        <div id ="judulbio"> Bio </div>
        <div id ="linebio"></div>
        <div id ="linebio2"></div>
        <div class="center1">
            <p style="text-align: center;"></p>
            Name : Andika Prasetya <br>
            <br>
            NPM : 1906400305 <br>
            <br>
            Occupation : College Student <br>
            <br>
            Study at : University of Indonesia <br>
            <br>
            Faculty : Faculty of Computer Science <br>
            <br>
            Hobby : Games, Sports <br>
            </p>
        </div>
    </div>

  </div>
</body>
{% endblock %}
</html>
