<!DOCTYPE html>
<html>
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <!-- Extra Fonts and Icon -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
  <div class="row">
    <div class="column left" style="background-color:#1F1F1F;">
        <div id ="judul"> Welcome to My Website </div>
        <div id ="line1"></div>
        <div id ="line2"></div>
    </div>
    <div class="column right" id="kolom_gambar">
    </div>
  </div>
</body>
{% endblock %}
</html>
