<!DOCTYPE html>
<html lang="en">
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylestory1.css' %}" />
    <title>My Profile</title>
</head>
<body>
    <div style="margin: 360px"></div>
    <div class="column left">
    <div class="header">
        <h1>Welcome to My Profile</h1>
    </div>
    <div class="row">
        <h2>Bio</h2>
        <img src="static/home/dika.jpg", width="200px" height="300px">
        <h3><b> Name </b>: Andika Prasetya</h3>
        <p><b> NPM </b>: 1906400305</p>
        <p><b> Hobby </b>: Sports, Games</p>
        <p><b> Desc </b>: Masih berusaha untuk bisa membuat web kedepannya </p>
        <p><b> Riwayat Pendidikan </b>:</p>

		<table>
			<tr>
				<th> <b> Tahun </b> </th>
				<th> <b> Nama Sekolah </b> </th>
			</tr>
			<tr>
				<td> 2019-Sekarang </td>
				<td> Universitas Indonesia </td>
			</tr>
			<tr>
				<td> 2016-2019 </td>
				<td> SMA Kristen 3 Penabur Jakarta</td>
			</tr>
			<tr>
				<td> 2013-2016 </td>
				<td> SMP Kristen 3 Penabur </td>
			</tr>
			<tr>
				<td> 2007-2013 </td>
				<td> SD Marsudirini Matraman </td>
			</tr>
        </table>
        
        <br>

        <h3>Social Media</h3>
        <h5>My Instagram and Facebook</h5>
        <a href ="https://www.instagram.com/andika_pras7/">
        <img src="static/home/instagram.jpg", width="50px" height="50px">
        </a>
        <a href="https://www.facebook.com/andika.prasetya.988">
        <img src="static/home/facebook.jpg", width="50px" height="50px">
        </a>
    </div>
    </div>
</body>
{% endblock %}
</html>
