<!DOCTYPE html>
<html>
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <!-- Extra Fonts and Icon -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
  <div class="row">
    <div class="column left" style="background-color:#1F1F1F;">
        <div class="center2">
            <p style="text-align: center;"></p>
            Social <br>
            &nbsp&nbsp&nbsp&nbspMedia <br>
        </div>
        <img id="insta" src="/static/home/instagram.jpg" alt="insta logo">
        <div id ="instad"> Instagram&nbsp:&nbsp@andika_pras7 </div>
        <img id="line" src="/static/home/line.jpg" alt="line logo">
        <div id ="lined"> Line&nbsp:&nbspandika1st </div>
        <img id="wa" src="/static/home/wa.jpg" alt="wa logo">
        <div id ="wad"> Whatsapp&nbsp:&nbsp+62&nbsp812&nbsp9094&nbsp3824 </div>
    </div>
    <div class="column right" id="kolom_gambar3">
    </div>
  </div>
</body>
{% endblock %}
</html>
