{% extends 'base.html' %}

{% block content %}
<form action="{% url 'schedule:addschedule' %}" method="POST">{% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">mata kuliah</label>
        <input type="text" class="form-control" name="nama">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">semester</label>
        <input type="text" class="form-control" name="semester">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">dosen</label>
      <input type="text" class="form-control" name="dosen">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">ruang</label>
        <input type="text" class="form-control" name="ruang">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">sks</label>
          <input type="text" class="form-control" name="sks">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">deskripsi</label>
        <textarea class="form-control" name="deskripsi" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">nomor</th>
        <th scope="col">mata kuliah</th>
        <th scope="col">semester</th>
        <th scope="col">dosen</th>
        <th scope="col">ruang</th>
        <th scope="col">sks</th>
        <th scope="col">deskripsi</th>
      </tr>
    </thead>
    <tbody>
      {% for i in send %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.matkul}}</td>
        <td>{{i.semester}}</td>
        <td>{{i.dosen}}</td>
        <td>{{i.ruang}}</td>
        <td>{{i.sks}}</td>
        <td>{{i.deskripsi}}</td>
        <td><a class="btn btn-outline-danger" value="Delete" href="{% url 'schedule:delete' i.id %}">remove</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}