{% extends 'base.html' %} {% load static %} 
<title>My Schedule</title>
{% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="container-fluid">
        <div class="halaman">
            <h2>Apakah kamu ingin menghapus {{matkulv.matkul}}</h2>

            <form action="." method="POST">{% csrf_token %}
                <a class="btn btn-outline-primary" href="{% url 'schedule:addschedule' %}">Cancel</a>
                <input class="btn btn-outline-danger" type="submit" Value="Confirm" name="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock %}
