<!DOCTYPE html>
{% load static %}

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Story 7</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link href="{% static 'css7/style.css' %}" rel="stylesheet" type="text/css">
  <script src = "{% static 'js/story7.js'%}"></script>
  
</head>
<body>
  <main class = "container" >

    <body>
      <h1 class="text-center">Story 7 Dika</h1>

      <div class="accordion" id="accordion">

        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Activity
              <div class="move">
              <div class="btn move-up">up</div>
              <div class="btn move-down">down</div>
          </div></h1>
 
          </div>
          <p class="text">
            Studying in University of Indonesia and Active in Esport
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Achievement
              <div class="move">
                <div class="btn move-up">up</div>
                <div class="btn move-down">down</div>
            </div>
            </h1>
  
          </div>
          <p class="text">
            Spelling Bee and Esport
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Organization
              <div class="move">
                <div class="btn move-up">up</div>
                <div class="btn move-down">down</div>
            </div>
            </h1>

          </div>
          <p class="text">
            Sejauh ini hanya sbf depor dan rebahan
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Target
              <div class="move">
                <div class="btn move-up">up</div>
                <div class="btn move-down">down</div>
            </div>
            </h1>

          </div>
          <p class="text">
            Lulus dan Lanjut Esport
          </p>
        </div>
      </div>
</main>
  </body>

