@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
    .img {
        position: absolute;
        width: 720px;
        height: 1024px;
    }

    #id {
        position: absolute;
        width: 604px;
        height: 159px;
    }
    #judul {
        position: absolute;
        width: 604px;
        height: 159px;
        top: 576px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        text-align: center;

        color: #FFFFFF;
    }
    #home {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 35px;
        top: 45px;
      }
    
      #bio {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 191px;
        top: 135px;
     
      }
    
      #bio1 {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 191px;
        top: 135px;
        
        background: #FC7901;
        border: 3px solid #FC7901;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px; 
      } 
      
      #socmed {
          position: absolute;
          width: 173px;
          height: 49px;
          left: 344px;
          top: 229px;
      }
    
      #socmed1 {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 344px;
        top: 229px;
      
        background: #FC7901;
        border: 3px solid #FC7901;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px;
      }
    
      #studies {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 499px;
        top: 327px;
    
        /* padding: 10px 0px; */
      }

      #story1 {
        position: absolute;
        width: 173px;
        height: 49px;
        left: 35px;
        top: 327px;
      }
    